<div id="add-mtest">
    <div class="modal-body" id="modal-body">
        <form method="POST" class="post-form" name="addMtestForm">
            <div class="form-group input-group">
                <div class="input-group">
                    <div class="input-group-addon">Назва</div>
                    <input name="name" class="form-control input-sm" ng-model="new_mtest.name"/>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group">
                    <div class="input-group-addon">Регіон</div>
                    <input class="form-control region input-sm"
                           ng-model="new_mtest.region"
                           name="region"
                           placeholder="Оберіть область"
                           uib-typeahead="region as region.name for region in regions | limitTo:15 | filter:$viewValue"
                           typeahead-min-length="0"
                           typeahead-focus-on-select="true"
                           typeahead-editable="false">
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group">
                    <div class="input-group-addon">Орган влади</div>
                    <input class="form-control govern input-sm"
                           ng-model="new_mtest.government"
                           name="govern"
                           placeholder="Оберіть орган влади"
                           uib-typeahead="gov as gov.name for gov in governs | limitTo:15"
                           typeahead-min-length="0"
                           typeahead-focus-on-select="true"
                           typeahead-editable="false">
                </div>
            </div>

            <div class="buttons">
                <switcher ng-model="new_mtest.calc_type" class="corr_toggle pull-left"
                          true-value="'1'" true-label="Командна" false-value="'0'" false-label="Єдиний" ></switcher>
                <button class="btn btn-success btn-xs pull-left"
                        type="submit" name="submitform" ng-click="addMtest(new_mtest);dynamicPopover.close('add', '')">Додати</button>
                <button class="btn btn-danger btn-xs pull-left"
                        type="submit" name="submitform" ng-click="dynamicPopover.close('add', '')">Закрити</button>

            </div>

        </form>
    </div>
</div>