<div id="report" style="line-height: 1.42857143;width: 100%;margin: 0 auto;background: #fff;padding: 5px;">

    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #report {
            line-height: 1.42857143;
            width: 100%;
            margin: 0 auto;
            background: #fff;
            padding: 5px;
        }
        #report .col-md-8 {
            width: 66.66666667%
        }
        #report .col-md-6 {
            width: 50%;
        }
        #report .col-md-3 {
            width: 25%;
        }
        #report .col-md-10 {
            width: 83.33333333%;
        }
        #report .col-md-2 {
            width: 16.66666667%;
        }
        #report .col-md-12 {
            width: 100%;
        }
        #report .row {
            width: 100%;
            display: table;
            content: " ";
            clear: both;
            margin: 0 0!important;
        }
        :after, :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .h4, .h5, .h6, h4, h5, h6 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #report .header {
            border-bottom: 2px solid #337ab7;
        }
        #report .result {
            width: 100%;
            border-bottom: 2px solid #337ab7;
        }
        #report .res-container {
            height: auto;
            margin: 1px 0px!important;
            padding: 5px 5px!important;
            border: 3px solid #9e576c;
        }
        #report .itemplus {
            height: auto;
            padding: 2px 5px;
            margin: 2px!important;
            border: 2px solid #aea287;
        }
        #report .item {
            height: auto;
            padding: 2px 5px;
            margin: 1px!important;
            border: 1px solid #0074b4;
        }

        #report h1 {
            margin-top: 5px;
        }
        #report .question {
            clear: both;
        }
        #report .question:nth-child(2n) {
            background: #f9f9f9;
        }
        #report.col-md-8, #report .col-md-2 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        #report .bordr {
            height: auto;
            width: 100%;
            border-bottom: 1px solid #000;
        }
        #report .bordr-red {
            height: auto;
            width: 100%;
            border-bottom: 2px solid red;
        }
        #report .number {
            background: #3ca6ea;
            padding: 3px;
            margin-right: 3px;
            color: #fff;
        }
        #report .res-container .number {
            margin-top: 0px;
            float: left;
            width: 3%;
            background: #9e576c;
        }
        #report .res-container .info,
        #report .itemplus .info,
        #report .item .info {
            float: left;
            width: 96%;
        }
        #report .itemplus .number {
            width: 3%;
            background: #aea287;
        }
        #report .item .number {
            width: 3%;
            background: #0074b4;
        }
        #report .row.cn-heading {
            height: 45px;
            width: 100%;
        }
        #report .pull-left {
            float: left;
        }
        #report .pull-right {
            float: right;
        }
    </style>

    <div ng-repeat="list in modelsdb.dropzones" id="report">
        <div class="row result">
            <h1 class="col-md-6 pull-left">
                <span style="color:#9e576c">М-ТЕСТ</span><span style="color:#337ab7">:Звіт</span>
            </h1>
            <div class="col-md-6 pull-right">
                <h3 class="row"><b>Загальні витрати: </b> {[{ totalSum() }]} грн</h3>
                <h3 class="row"><b>Кількість суб'єктів: </b> {[{ list[0].ki }]} шт.</h3>
            </div>
        </div>
        <div class="row header">
            <h4 class="row"><b>Назва органу влади: </b> {[{ list[0].subj }]}</h4>
            <h4 class="row"><b>Назва регуляторного акту: </b> {[{ list[0].regact }]}</h4>
        </div>
        <div class="row res-container" ng-repeat="container in list">
            <div class="row cn-heading">
                <h4 class="pull-left number">#{[{ $index+1 }]}.</h4>
                <div class="pull-left info">
                    <h4 class="row"><b>Інформаційна вимога: </b> {[{ container.zob }]}</h4>
                    <h4 class="row"><b>Сукупна вартість вимоги:</b> {[{ container.contsub | number: 0}]}
                        грн</h4>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="item in container.columns[0]">
                    <div ng-if="item.type == 'itemplus'">
                        <div class="row itemplus">
                            <div class="row itp-heading">
                                <h4 class="pull-left number">#{[{ $index+1 }]}.</h4>
                                <h4 class="pull-left info"><b>Назва складової:</b> {[{ item.zob }]}</h4>
                            </div>

                            <div class="row" ng-repeat="item in item.columns[0]">
                                <div ng-include="'item_result.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.type == 'item'">
                        <div ng-include="'item_result.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="item_result.html">
    <div class="row item">
        <div class="math_part" ng-if="reportToggler == 1">
            <div class="row bordr itm-heading">
                <h4 class="pull-left number">#{[{ $index+1 }]}.</h4>
                <h4 class="pull-left info"><b>Назва дії/процедури:</b>{[{ item.proc.act_name }]}</h4>
            </div>

            <div class="row bordr">
                <h4 class="col-md-12"><b>Розрахункова складова:</b></h4>
                <div class="col-md-3 pull-left"><b>Частота застосування(КРі):</b> {[{ item.kri }]} раз</div>
                <div class="col-md-3 pull-left"><b>Оплата(ВЧі): </b>{[{ item.vchi }]} грн</div>
                <div class="col-md-3 pull-left"><b>Супутні витрати(ПВРі):</b> {[{ item.pvri }]} грн</div>
                <div class="col-md-3 pull-left"><b>Час(ЧІ): </b>{[{ item.chi }]} год.</div>
            </div>
        </div>
        <div class="cor_part" ng-if="reportToggler == 0 || reportToggler == null">
            <div class="row bordr-red" style="display: {[{ hideCritical(item.total, questions[item.proc.act_id].len) }]}">
                <h4 style="color:red"><b>Критична корупційна складова!</b></h4>
            </div>
            <div class="row bordr">
                <h4><b>Корупційна складова:</b> {[{ item.proc.act_name }]}</h4>
                <div class="row">
                    <h5 class="col-md-10 pull-left"><b>Назва складової</b></h5>
                    <h5 class="col-md-2 pull-left"><b>Вплив</b></h5>
                </div>

                <div class="row question"
                     ng-repeat="qt in item.adq.quests | filter: {res: 1}"

                     style="display: {[{ hideQuestion(qt.dep, item.adq.quests[$index - 1].res) }]}">
                    <div class="col-md-10 pull-left">{[{ qt.text }]}</div>

                    <div class="col-md-2 pull-left">{[{ valueToText(qt.effect, "ef") }]}</div>
                </div>
            </div>
            <div class="row" ng-if="item.comment != null">
                <h4><b>Коментар:</b></h4>
                <div class="row">
                    {[{ item.comment }]}
                </div>
            </div>
        </div>
    </div>
</script>