<div>
    <div class="input-group">
        <span ng-hide="editMode" ng-click="edit()">{{data}}</span>
        <input type="text"
               ng-model="model"
               on-enter="save()"
               on-esc="cancel()"
               placeholder="Оберіть розробника"
               ng-show="editMode"
               uib-typeahead="gov as gov.Name for gov in govs | filter:{Name:$viewValue}"
               class="form-control"
               typeahead-min-length="0"
               typeahead-focus-on-select="true"
               typeahead-editable="false">

    </div>

</div>


