<div class="row" id="register">
    <div class="col-md-4 inner">
        <h1>Реєстрація</h1>
        <hr><br>
        <form ng-submit="onRegister()" name="registerForm">
            <div class="form-group">
                <label for="username" class="input-group-addon">Ім'я</label>
                <input type="text" class="form-control" id="name" placeholder="Введіть ім'я" ng-model="user.name" required>
            </div>
            <div class="form-group">
                <label for="username" class="input-group-addon">Прізвище</label>
                <input type="text" class="form-control" id="surename" placeholder="Введіть прізвище" ng-model="user.surename" required>
            </div>
            <div class="form-group">
                <label for="username" class="input-group-addon">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Введіть email" ng-model="user.email" required>
            </div>


            <div class="form-group">
                <label for="passwowrd" class="input-group-addon">Пароль</label>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Введіть пароль" ng-model="user.password" required>
            </div>
            <div class='msg-block'>
             <span ng-show="user.show == 1">
                <span class='msg-error'  ng-hide='registerForm.confirm.$valid'>
                      Паролі не співпадають
                 </span>
             </span>
            </div>
            <div class="form-group">
                <label for="passwowrd" class="input-group-addon">Пароль повторно</label>
                <input type="password" class="form-control" id="confirm"
                       name="confirm"
                       placeholder="Введіть пароль повторно" ng-model="user.confirm"
                       ng-pattern="user.password"
                       ng-change="user.show = 1"
                       required>
            </div>
            <button type="submit" class="btn btn-primary">Зареєструватись!</button>
        </form>
    </div>
</div>
