<div class="row">
    <div class="col-md-4" id="login-form">
        <h1>Вхід</h1>
        <h5 style="color:red">{[{ message }]}</h5>
        <form class="form-inline" ng-submit="onLogin()">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Вхід</label>
                <div class="input-group">
                    <div class="input-group-addon">Email</div>
                    <input type="email" class="form-control" id="email" placeholder="Введіть email" ng-model="user.username" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">Пароль</div>
                    <input type="password" class="form-control" id="passwowrd" placeholder="Введіть пароль" ng-model="user.password" required>
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Увійти</button>
        </form>
    </div>
</div>


