<div class="text-input">
    <div class="input-group">
        <input  type="text"
                on-enter="save()"
                on-esc="cancel()"
                ng-model="model"
                ng-show="editMode"
                class="form-control"
                aria-label="model">
        <div ng-hide="editMode" ng-click="edit()" class="inline-show">
            <span ng-hide="model != ''">інф. відсутня</span>
            <span ng-show="model != ''">{{model}}</span>
        </div>
    </div>
</div>

