<div ng-repeat="action in actions" class="admin-row">
    <div class="admin-row-info">
        <div line-edit="action.act_name"
             on-save="saveActionName(action.id, value)"
             on-cancel="log('CANCEL', value)">{[{ action.act_name }]}</div>
    </div>
</div>

<div class="add-admin-filed">
    <button ng-click="dynamicPopover.open('add', 'static/html/tmpl/modal_add_action.html', '')"
            uib-popover-template="dynamicPopover.templateUrl['add']"
            type="button"
            class="btn btn-success"
            popover-placement="auto top"
            popover-is-open="dynamicPopover.isOpen['add']"
            popover-class="action-popover">
        <span class="glyphicon glyphicon-add"></span>
        Додати адміністративний акт
    </button>
</div>
