<div style="width: 100%; display: block; ">
    <div style="width: 222px;"></div>
    <div style="width: 222px;"></div>
    <div style="width: 222px;"></div>
    <div style="width: 222px;"></div>
    <div style="width: 222px;"></div>
</div>
<div ng-repeat="user in users" class="admin-row">
    <div class="admin-row-info">

        <div class="user-row">
            <div class="name">{[{ user.name }]} | </div>
            <div class="admin-row-icon">
                <button ng-click="dynamicPopover.open($index, 'settingsTemplate.html', 's');"
                        uib-popover-template="dynamicPopover.templateUrl[$index + 's']"
                        type="button"
                        class="btn btn-primary"
                        popover-placement="left-top"
                        popover-is-open="dynamicPopover.isOpen[$index+'s']">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="user-row">
            <div class="name">{[{ user.surename }]} | </div>
            <div class="admin-row-icon">
                <button ng-click="dynamicPopover.open($index, 'settingsTemplate.html', 's');"
                        uib-popover-template="dynamicPopover.templateUrl[$index + 's']"
                        type="button"
                        class="btn btn-primary"
                        popover-placement="left-top"
                        popover-is-open="dynamicPopover.isOpen[$index+'s']">
                    <span class="glyphicon  glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="user-row">
            <div class="name">{[{ user.email }]} | </div>
            <div class="admin-row-icon">
                <button ng-click="dynamicPopover.open($index, 'settingsTemplate.html', 's');"
                        uib-popover-template="dynamicPopover.templateUrl[$index + 's']"
                        type="button"
                        class="btn btn-primary"
                        popover-placement="left-top"
                        popover-is-open="dynamicPopover.isOpen[$index+'s']">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="user-row">
            <div class="name">{[{ user.rights }]} | </div>
            <div class="admin-row-icon">
                <button ng-click="dynamicPopover.open($index, 'settingsTemplate.html', 's');"
                        uib-popover-template="dynamicPopover.templateUrl[$index + 's']"
                        type="button"
                        class="btn btn-primary"
                        popover-placement="left-top"
                        popover-is-open="dynamicPopover.isOpen[$index+'s']">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="user-row">
            <div class="name">{[{ user.activated }]} | </div>
            <div class="admin-row-icon">
                <button ng-click="dynamicPopover.open($index, 'settingsTemplate.html', 's');"
                        uib-popover-template="dynamicPopover.templateUrl[$index + 's']"
                        type="button"
                        class="btn btn-primary"
                        popover-placement="left-top"
                        popover-is-open="dynamicPopover.isOpen[$index+'s']">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
    </div>
</div>