<div class="user-list-header">
    <div class="user-list-item">Ім'я</div>
    <div class="user-list-item">Прізвище</div>
    <div class="user-list-item">Email</div>
    <div class="user-list-item">Адмін. права</div>
    <div class="user-list-item">Акаунт активований</div>
</div>
<div ng-repeat="user in users" class="admin-row">
    <div class="admin-user-row-info">
        <div class="user-row">
            <div line-edit="user.name" on-save="changeAdminUserField('name', user.id, value)">{[{ user.name }]}</div>
        </div>
        <div class="user-row">
            <div line-edit="user.surename" on-save="changeAdminUserField('surename', user.id, value)">{[{ user.surename }]}</div>
        </div>
        <div class="user-row">
            <div line-edit="user.email" on-save="changeAdminUserField('email', user.id, value)">{[{ user.email }]}</div>
        </div>
        <div class="user-row">
            <div line-edit="user.rights" on-save="changeAdminUserField('rights', user.id, value)">{[{ user.rights }]}</div>
        </div>
        <div class="user-row">
            <div line-edit="user.activated" on-save="changeAdminUserField('activated', user.id, value)">{[{ user.activated }]}</div>
        </div>

    </div>
    <button ng-click="removeUser(user.id)" class="btn btn-danger remove-usr">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>