@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');
/***************************** Required styles *****************************/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */

* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 30px;
    background: rgb(253, 249, 239);
}
header {
    height: 120px;
}
.container {
    min-height: 100%;
    width: 100%;
    max-width: 1319px;
    margin-bottom: 10px;
}
.container:after {
    content: "";
    display: block;
}
.site-footer,
.container:after {
    height: 83px;
}
.site-footer {
    color: white;
    background: linear-gradient(to right, #7fc9f1, #fcc135);
}
.site-footer a {
    color: white;
}
.mTest ul[dnd-list],
.mTest ul[dnd-list] > li {
    position: relative;
}
/***************************** Dropzone Styling *****************************/


.mTest .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0;
    padding-left: 0;
    padding-bottom: 25px;
}

.mTest .dropzone li {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0;
    margin: 6px auto;
}

.mTest .dropzone .dndDragging {
    opacity: 0.7;
}


.mTest .dropzone .dndDraggingSource {
    display: none;
}


.mTest .dropzone .dndPlaceholder {
    box-shadow: none;
    text-align: center;
    color: white;
    font-size: 25px;

    min-height: 42px;
    display: block;
    position: relative;
}
.mTest .dropzone .in.collapse .dndPlaceholder {
    box-shadow: none;
    text-align: center;
    color: white;
    font-size: 25px;

    
    min-height: 42px;
    display: block;
    position: relative;
}
/***************************** Element Selection *****************************/

.mTest .dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}
.mTest .dropzone .selected .box {
    border-color: #d6e9c6;
}
.mTest .dropzone .selected .box > h3 {
    color: #3c763d;
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%);
    border-color: #d6e9c6;
}
/***************************** Element type specific styles *****************************/

.mTest .dropzone .item {
    float: left;
    padding: 0;
}
.mTest .dropzone .container-element {
    border: none;
    margin: 0;
    background: transparent;
}
.mTest .dropzone .container-element .column {
    float: left;
    width: 100%;
}
.mTest .dropzone .container-element li {
    background-color: #02486f;
    position: relative;
    top: 0;
    cursor: pointer;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 2px rgb(5, 124, 172);
    color: #888;
    -webkit-user-select: none;
    transition: all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropzone.box.box-darkblue {
    padding: 4px;
}
.popover {
    color: #000;
    width: 500px;
    max-width: 500px!important;
}

#mtests .popover {
    color: #000;
    width: 100%;
    max-width: 750px!important;
}
#mtests .email-popover {
    max-width: 800px!important;
}

#mtests .popover-content {
    padding: 2px;
}

.mTest .dropzone li .handle,
.mTest .dropzone li .handle_plus {
    padding-top: 4px;
    width: 2%;
    font-size: 14px;
    color: white;
    line-height: 19px;
    float: left;
    margin: 0 6px;
}
.mTest .dropzone .container-element li .handle {
    margin: 0;
    height: 58px;
    padding: 17px 0 0 3px;
    width: 2.3%;
    cursor: pointer;
    line-height: 22px;
    z-index: 999;
    display: inline-block;
}
.mTest .dropzone .container-element li .handle_plus {
    padding-top: 3px;
    width: 2%;
    line-height: 22px;
    z-index: 999;
}
.mTest .dropzone .container-element li .handle_plus span,
.mTest .dropzone li .handle span {
    cursor: pointer;
}
.plus-hnd,
.container-hnd {
    line-height: 15px;
    width: 18px;
    float: left;
    cursor: move;
}
.handle-bar {
    cursor: move;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}
.input_one {
        padding-right: 0!important;
}
.input_one .dia {
   width: 96%;
}
   .clear {
       font-size: 19px;
       height: 23px;
       float: right;
       margin-top: 0;
       background-color: #ffffff;
       width: 4%;
       border-radius: 0 5px 5px 0;
       text-align: center;
   }
.input_one,
.input_two,
.input_three {
    margin: 3px 0;
    float: left!important;
}
#input_group {
    padding-right: 1px;
    margin-top: 4px;
    width: 93%;
    display: inline-block;
}
ul.nav.nav-pills {
    display: none;
}

.handle .tab-pane.ng-scope:nth-child(2) {
    margin-right: -4px;
    background-color: #0074b3;
}

.tabbuttons {
    border-left: 2px solid #02486f;
    background-color: #057cac;
    height: 68px;
    vertical-align: top;
    display: inline-block;
    width: 4.333%;
}

.corruption {
    padding-top: 8px;
}


.tabbuttons button:nth-child(1) {
    font-size: 20px;
    border: 0;
    border-radius: 0 4px 0 0;
    color: #fff;
    background: #02486f;
}
.tabbuttons button:nth-child(2) {
    color: white;
    background: url(../img/corrupt.png) no-repeat 52% 55% #0074b3;
    border: 0;
}

.tabbuttons button {
    border-radius: 0;
    height: 34px;
    width: 46px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 15px;
    padding: 2px 7px 0 7px;
    float: right;

}
.tabbuttons button:focus {outline:0;}

.input_two,
.input_three {
    width: 100%;
}
.input_two {
    margin-right: 11px;
}
.input_two .input-group-addon {
    background: #0073af;
}
.input_three .input-group-addon {
    background: #16668f;
}
.leftinputs .input-group.first {
    float: left;
    width: 46%;
}
.leftinputs .input-group {
    float: left;
    width: 54%;
}
#input_group .input-group-addon {
    padding: 0 9px;
    line-height: 9px;
}
.input-group-addon.leftinputs {
    padding: 0!important;
    width: 40%;
}
.first,
.second,
.thrd {
    float: left;
}

.input-group.first, .input-group.second, .input-group.thrd {
    width: 33.19%;
    margin-left: 2px;
}
.input-group.first {
    margin-left: 0;
}

.save_alert {
    text-align: center;
    color: white;
    background: red;
    font-size: 18px;
    line-height: 45px;
    animation-name: example;
    animation-duration: 4s;
}
.disabled {
    display: none;
}
.not_disabled {
    display: block;
}
.input_two .col-md-6 {
    margin: 1px 0;
}
.col-md-12.floatleft {
    margin: 0 0;
}
/***************************** Toolbox *****************************/

.mTest .toolbox ul {
    list-style: none;
    padding-left: 0;
    cursor: move;
}
.mTest .toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}
.mTest .toolbox .dndDragging {
    opacity: 0.5;
}
.mTest .toolbox .dndDraggingSource {
    opacity: 1.0;
}
/***************************** Trashcan *****************************/

.dragitem img {
    width: 90%;
}
.mTest .trashcan ul {
    list-style: none;
    padding-left: 0;
}
.mTest .trashcan img {
    height: 40px;
    padding: 0;
    border-radius: 25px;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    filter: grayscale(50%);
}
.mTest .trashcan img:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
.mTest .trashcan .dndDragover img {
    background: #ccc;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.mTest .trashcan .dndPlaceholder {
    display: none;
}
.itemname {
    font-size: 16px;
    color: #fff;
    margin: 12px auto;
    text-shadow: 1px 1px 1px #a9aaab;
}
.box {
    margin-bottom: 7px;
}
.box > div > h3 {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-repeat: repeat-x;
    display: block;
    font-size: 16px;
    padding: 4px 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.box-padding {
    padding: 0;
}
.box-padding > h3 {
    margin: -15px -15px 15px -15px;
}
.box-grey {
    border-color: #ddd;
}
.box-grey > h3 {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
}
.box-blue {
    border-color: #bce8f1;
}
.box-blue > div > h3 {
    text-shadow: none;
    border-radius: 0;
    font-weight: bold;
    color: #fff;
    background-color: rgb(24, 134, 205);
    border-color: rgba(93, 93, 93, 0.79);
}
.input-group-addon {
    background: #0073af;
    color: #fff;
    border: 0;
}
div#header-sub {
    height: 26px;
}
div#header-sub .input-group-addon {
    line-height: 9px;
}

.container-header {
    padding: 0 1px;
}
.container-header .input-group-addon {
    padding-top: 2px;
}
.container-header:nth-child(1) {
    width: 75%;
}
.container-header:nth-child(2) {
    height: 23px;
    width: 25%;
}
.dia_input:nth-child(1){
width: 69.7%;
    margin-right: 2px;
}
.dia_input:nth-child(2){
width: 30%;
}

.box-darkblue {
    border-radius: 0;
    background: #d1c9b7;
}
.box-darkblue > h3 {
    text-shadow: none;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-bottom: 2px solid #f0b858;
}
.toolbox.box.box-grey.box-padding {
    padding-top: 1px;
}
.tools {
    padding: 0 0;
}
.tools.inner {
    width: 100%;
    text-align: center;
    padding: 0;
}
.tools.main {
    background: #d1c9b7;
    width: 100%;
    text-align: center;
    padding: 0;
}
/*---------------------------form-------------------------*/

.col-md-7.floatleft {
    padding-left: 6px;
}
label.col-md-2.control-label {
    line-height: 32px;
    text-align: left;
    padding-left: 0;
    color: #fff;
}
select.form-control {
    width: 100%;
    padding: 0 12px;
}
li.ng-scope {
    margin-bottom: 15px;
}
.horizontal-collapse {
    height: 70px;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
form.form-horizontal .col-md-9 {
    height: 35px;
    padding: 0;
}
.sum-footer {
    border-top: 2px solid #a47904;
    margin: 0 -4px -5px -4px;
    height: 41px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-align: right;
}
.sum-footer .input-group {
    float: left;
    margin-top: 4px;
}

.reset button {
    border-radius: 0 4px 4px 0;
    height: 30px;
    margin: 0 auto;
    float: left;
    width: 95%;
    line-height: 18px;
}
.requlatory {
    padding-top: 0;
    background: #948f83;
    margin: -5px -4px 11px -4px;
    height: 63px;
}
.requlatory input,
.requlatory .input-group-addon {
    height: 25px;
}
.requlatory .col-md-12 {
    padding: 4px 4px 0 4px;
}
.form-group.col-md-2 {
    float: right;
    padding: 0;
}
li.ng-scope img,
.trashcan img {
    padding: 4px;
    box-shadow: 0 4px #009de4, 0 10px 15px rgba(0, 0, 0, 0.2);
    background: rgba(248, 248, 248, 0.39);
    border-radius: 6px;
}
li.ng-scope img:hover,
.trashcan img:hover {
    box-shadow: 0 4px #f0b858, 0 10px 15px rgba(0, 0, 0, 0.2);
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.trashcan.box.box-grey.box-padding h3 {
    font-size: 19px;
    text-shadow: 1px 1px 0 #cecdcd;
    color: #fff;
}
.toolbox.box.box-grey.box-padding a {
    position: relative;
}
#logo {
    margin-top: 11px;
    border-right: 4px solid #2875b6;
    width: 30%;
    float: left;
}
#logo a:hover,
#logo a:focus {
    text-decoration: none;
}
#logo h4 {
    padding-right: 5px;
    font-size: 23px;
    font-weight: bold;
}
#header-right {
    margin-right: -7px;
    width: 70%;
    float: left;
}
#slogan {
    margin: 5px 0 0 5px;
    width: 100%;
    padding: 1px 4px;
}
#slogan h5 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
    color: #898282;
}
#nav {
    width: 100%;
    margin: 10px 0 5px 0;
}
#nav .btn {
    font-weight: bolder;
    border: 0;
    color: #0075b6;
    background: transparent;
    font-size: 24px;
    line-height: 16px;
}
#nav .btn:hover {
    text-decoration: underline;
}


#nav .questions {
    width: 53%;
}

ul.questions {
    box-shadow: none;
    border: none;
    background-color: #fffcfc;
}

ul.questions li {
    background: none;
    border: none;
}

ul.questions li a {
    padding-left: 14px;
    font-weight: bolder;
    font-size: 19px;
    border: none;
    background: none;
    text-align: left;
}

ul.questions li a:hover {
    text-decoration: underline;
    border: none;
    background-color: transparent!important;
}
ul.questions li a:active {

    border: none;
    background-color: transparent!important;
}
ul.questions li a:focus {

    border: none;
    background-color: transparent!important;
}

#nav .profile {
    float: right;
    width: 47%;
}

#nav .profile ul {
    margin-bottom: 0;
    float: right;
    list-style: none;
}
#nav .profile ul li{
    float: left;
}

#sponsors {
    float: right;
}
div#sponsors .logo {
    margin: 22px 23px 0 23px;
    float: left;
}
/*span.ng-binding {*/
    /*line-height: 31px;*/
    /*height: 37px;*/
    /*margin-top: -10px;*/
    /*margin-right: -15px;*/
    /*padding: 0 5px;*/
/*}*/
.allsum.ng-binding {
    padding: 0 5px;
    float: right;
    background: rgba(255, 0, 0, 0.88);
    margin-right: -10px;
    height: 36px;
    margin-top: 4px;
    line-height: 35px;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
div#cont-id {
    line-height: 22px;
    text-shadow: none;
    border-radius: 0;
    font-weight: bold;
    color: #fff;
    border-color: rgba(93, 93, 93, 0.79);
}
.btn1,
.btn2 {
    word-wrap: break-word;
    width: 100%;
    float: left;
    border-bottom: 1px solid #fff;
    background-color: #9e566c;
}
.faq .corr_toggle {
    line-height: 39px;
}

.faq .corr_toggle span {
    margin-right: -15px;
    padding: 0 5px;
}

#add-mtest .corr_toggle {
    background: #daf2ff;
    width: 38%;
    text-align: center;
    margin-bottom: 3px;
}

code.small {
    display: inline-block;
    margin-top: 5px;
    background: #5bc0de;
    color: #fff;
    min-width: 48px;
}

.requlatory .mtest-info {
    background: #fff;
    height: 26px;
    line-height: 28px;
    padding-left: 5px;
}

.requlatory .region-data .input-group-addon, .requlatory .region-data .mtest-info  {
    float: left;
}
.region-data .input-group-addon {
    line-height: 18px;
}
.region .mtest-info {
    height: 25px;
    width: 79.8%;;
}

.govern .mtest-info {
    height: 25px;
    width: 75%;
}


.faq {
    margin: 0 0 12px 0;
}
#btn-save {
    font-size: 14px;
    width: 100%;
    border: 0;
    color: white;
    box-shadow: 0 2px #66b2dc, 0 10px 15px rgba(0, 0, 0, 0.2);
    background-color: #0075b5;
    border-radius: 0 0 2px 2px;
}
#btn-dwn {

    padding-top: 9px;
    height: 39px;
    font-size: 14px;
    border-radius: 0 0 0 0;
    border: 0;
    color: white;
    background-color: #9e566c;
    float: left;

}
#btn-dwn:hover,
#btn-save:hover {
    background-color: #3ca6ea;
}
#btn-dwn:active,
#btn-save:active {
    background-color: #507f98;
    box-shadow: 0 1px #6691a8;
}

    .modal-dialog {
        width: 959px;
        margin: 5% auto;
    }

    .modal-body p {
        line-height: 17px;
        font-size: 13px;
        margin-bottom: 4px;
    }

    .modal-dialog.modal-sm {
        width: 335px;
    }

    .brdr {
        height: 3px;
        width: 100%;
        background: rgba(24, 134, 205, 0.69);
    }

    .uib-typeahead-match.ng-scope {
        height: 25px !important;
    }

    .ng-scope ul li input.form-control {

        padding: 0 12px;
        height: 23px;
    }

    ul.dropdown-menu.ng-isolate-scope li {
        padding: 0 0 !important;
        margin: 0 auto !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background-color: #ffffff !important;
        width: 100% !important;
    }

    a#btn-pos {
        line-height: 44px;
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }

    li#container {
        background: rgba(127, 126, 120, 0.63);
    }

    li#itemplus {
        width: 96%;
        box-shadow: 0 -2px 0 #bc647d;
        background: #9e576c !important;
        height: auto;
        margin-right: 8px;
    }

    li#item {
        min-height: 59px
    }

    .column.ng-scope li#item {
        margin-right: 7px;
        width: 96.3%;
    }

    li#itemplus li#item {
        margin-right: 3px;
        width: 96.7%;
    }

    li#itemplus li#item .input_three {
        width: 49.9%;
    }

    .sum_hidden {
        display: none;
    }

    .form-group.point.col-sm-12 {
        margin-bottom: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid #b9b9b9;
    }

    .form-group.point.col-sm-12 input {
    }

    .norma {
        padding-top: 2px;
        clear: both;
    }

    .corrtab {
        border-radius: 8px;
        border: 3px solid #0074b3;
        list-style: none;
    }

    .corrbutton {
        border-radius: 0 !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }

    .corr {
        border-radius: 0 !important;
        text-shadow: none !important;
        box-shadow: 0 1px 0 #FFE !important;
        color: #fff !important;
    }

    .corr button {
        font-size: 18px;
        background: none;
        border: 0;
    }

    .corr button:hover {

        color: red;

    }

    .corr button:focus {
        outline: none;
        padding-top: 4px !important;

    }

    h3.corr {
        margin-top: 9px;
        color: #fff;
    }

    li.col-md-12.corr.ng-scope {
        padding: 4px 0;
        margin: 1px 0;
    }
.green {
    color:white;
    background: green;
        border-radius: 10px;
}
span.corruption-bg {
    background-image: url("../img/corrupt.png");
}

.comment {
    width: 100%;
    padding: 2px 8px;
    border-radius: 4px;
}

.bg-red {
    color: white;
    background-color: red!important;
}
.row2 {
    display: none;
}
.corr_header h5{
    color: #fff;
}

ti-tag-item.ng-isolate-scope span {
    color: #fff;
    line-height: 20px;
    padding-right: 9px;
}
.form-control.emails {
    padding: 0;
}
.executors {
    background-color: #fff;
    float: left;
    width: 100%;
    text-align: left;

}
.executors .execs {
    padding-left: 20px;
}
.executors h5 {
     padding-left: 10px;
    border-bottom: 1px solid #3ca6ea;
}
.sponsors {
    width: 100%;
    background: none;
    height: 26px;
}

.sponsors .logo{
    width: 33.33%;
    padding: 0 5px;
    float: left;
}

.links {
    width: 100%;
    max-width: 1380px;
}
.links a {
    width: 33.33%;
}

#login-form {
    text-align: center;
    margin-top: 8%;
    margin-left: 32%;
}
#login-form form{
    width: 450px;
}

#login-form button{
    width: 115px;
    margin: 0 auto;
}

#login-form .input-group {
    margin: 5px 0;
    width: 100%;
}

#login-form .input-group .input-group-addon{
    width: 16%;
}

#login-form .resetpass {
    width: 100%;
    text-align: right;
}

#login-form .resetpass a {
    font-style: italic;
}

#login-form .resetpass .input-group-addon {
    width: 30%;
}

#reset-form {
    text-align: center;
    margin-top: 8%;
    margin-left: 32%;
}
#reset-form input {
    width: 80%;
}

#register .form-group {
    padding: 12px 0;
}

#register .inner {
    margin: 0 auto;
    float: none;
}

#register .input-group-addon {
    padding-top: 10px;
    width: 27%;
    float: left;
    height: 34px;
}

#register input {
    border-radius: 0 5px 5px 0;
    width: 62%;
    float: left;
}

#register .btn-primary {
    margin-top: 10px;
}

#cabinet {
    border-right: 3px solid #0073af;
    min-height: 300px;
}
#cabinet .field {
    width: 100%;
}

#cabinet .field h5 {
    padding-top: 12px;
    height: 38px;
    width: 33%;
}

#cabinet .passchange .input-group {
    width: 100%;

}

#cabinet .passchange .input-group-addon {
    font-size: 11px;
    width: 34%;
}

#cabinet .passchange .panel-body {
    padding: 5px 0;
}

#cabinet .inline-input span{
    margin-left: 5px;
    line-height: 31px;
}

#add-mtest .form-group {
    margin-bottom: 4px;
}

#add-mtest .input-group {
    width: 100%;
}

#add-mtest .input-group-addon {
    width: 14%;
}

#add-mtest .modal-body {
    margin-bottom: 0;
}

#add-mtest .buttons {
}

#add-mtest .buttons button:first-child {
    margin-right: 10px!important;
}

#edit-mtest .input-group {
    margin-bottom: 3px;
    width: 100%;
}

#edit-mtest .input-group-addon {
    height: 26px;
    width: 14%;
}

#edit-mtest input {
    height: 26px;
}

#edit-mtest .buttons, #send-mtest .buttons {
    margin: 3px 0;
}

#cabinet .field .col-xs-8 {
    padding: 0;
    border-radius: 0 4px 4px 0;
    margin: 10px 0;
    background: #ffffff;
    height: 38px;
}

#cabinet .field .col-xs-8 input {
    border-radius: 0 5px 4px 0;
     width: 100%;
 }

#cabinet .field .col-xs-8 .inline-show {
    margin-left: 8px;
    margin-top: 2px;
}

#cabinet .field .col-xs-8 .input-group {
    margin-top: 2px;
    border-radius: 0 0 0 0;
    width: 100%;
}
#cabinet .paschange-bnt {
    width: 100%;
}
#mtests .no_mtests {

    width: 100%;

}

#mtests .no_mtests .inner {
    padding-top: 15px;
    margin-bottom: 15px;
    height: 102px;
    color: #888787;
    text-align: center;
    background: #f5f5f5;
}

#mtests .add-mtest {
    text-align: center;
    width: 100%;
}

#mtests .add-mtest button{
    width: 30%;
    margin: 0 1px 0 5px;
}

#mtests .add-mtest .buttons button {
    height: 28px;
    margin: 0 3px 0 3px;
}

#mtests .mtests-list {

    width: 100%;
    margin: 5px 0;
}

#mtests .mtests-list:nth-child(odd) {
    background: #fff;
}

#mtests .mtests-list:nth-child(even) {
    background: #e8e7e7;
}

#mtests .mtest-icon,#mtests .mtest-item  {
    float: left;
}

#mtests .mtest-item {
    width: 78%;
}
#mtests .mtest-buttons {
    width: 22%;
    float: left;
}

#mtests .mtest-icon  {
    width: 20%;
    font-size: 23px;
    float: right;
}

#mtests .mtest-icon button {
    margin-top: -4px;
    line-height: 21px;
    padding: 2px 5px 0 5px;
}
#mtests .mtest-row-info {
    padding-left: 7px;
    line-height: 30px;
    height: 30px;
}

#mtests .add-executor {
    padding-top: 1px;
    height: 32px;
    background: #efd6c0;
    margin: 3px 0;
}

#mtests .mtest-sharing {
    border-top: 1px solid #cccccc;
    padding-left: 15px;
}

#mtests .sharing-row {
    padding-left: 5px;
    line-height: 30px;
    height: 32px;
    background: #e2f3fb;
    margin-bottom: 2px;
}
#mtests .mtest-sharing h5 {
    border-bottom: 1px solid #cccccc;
}

h2.border-bottom {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.user-cabinet-header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.user-cabinet-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}


#search .search-pgn {
    text-align: center;
}

#tools-bar .download-btn {
    float: left;
    width: 109px;
    height: 40px;
}

#tools-bar .download-switch {
    float: left;
    height: 39px;
    width: 110px;
}

#tools-bar .download-switch .switcher {
    padding-top: 5px;
    float: left;
    height: 40px;
}

#tools-bar .download-switch .switcher-line {
    float: left;
}

/*ADMIN*/

#admin-tabs ul.nav.nav-pills {
    display: block;
}

#admin-tabs .brdr {
    display: block;
    color: #057cac;
    margin-bottom: 10px;
}

#admin-tabs .admin-row:nth-child(even) {
    background: #e8e7e7;
}

#admin-tabs .admin-row .admin-row-info {
    padding-left: 7px;
    line-height: 30px;
    height: 30px;
}

#admin-tabs .admin-row .admin-user-row-info {
    padding-left: 7px;
    line-height: 30px;
    height: 30px;
    width: 96%;
    float: left;
}

#admin-tabs .admin-row .admin-row-info .admin-row-name {
    width: 95%;
    float: left;
}

#admin-tabs .admin-row .admin-user-row-info .admin-row-name {
    width: 95%;
    float: left;
}

#admin-tabs .admin-row .admin-row-info input {
    margin-right: 13px;
    width: 94%;
    height: 28px;
    float: left;
}

#admin-tabs .admin-row .admin-user-row-info input {
    margin-right: 13px;
    width: 94%;
    height: 28px;
    float: left;
}

#admin-tabs .admin-row .admin-row-info .admin-row-icon {
    width: 5%;
    float: left;
}

#admin-tabs .admin-row .admin-row-info .admin-row-icon button {
    margin-top: -4px;
    line-height: 21px;
    padding: 2px 5px 0 5px;
}

#admin-tabs .admin-row .admin-user-row-info .admin-row-icon {
    width: 5%;
    float: left;
}

#admin-tabs .admin-row .admin-user-row-info .admin-row-icon button {
    margin-top: -4px;
    line-height: 21px;
    padding: 2px 5px 0 5px;
}


#admin-tabs .admin-row .admin-user-row-info .user-row {
    float: left;
    margin-right: 18px;
    width: 233px;
}

#admin-tabs .add-admin-filed button {
    display: block;
    width: 207px;
    margin: 0 auto;
}

#admin-tabs .admin-row .admin-user-row-info .user-row .name {
    display: block;
    width: 88%;
    float: left;
}
#admin-tabs .admin-row .admin-user-row-info .user-row  .remove-btn {
    display: none;
}

#admin-tabs .admin-row .remove-usr {
    text-align: center;
    width: 26px;
    float: left;
    height: 26px;
    padding: 0px;
}
#admin-tabs .admin-row .admin-user-row-info .user-row .input-control-btns {
    display: none;
}

.user-list-header {
    border-top: 1px solid;
    width: 95%;
    display: block;
    height: 24px;
    margin-top: 10px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}
.user-list-header .user-list-item {
    width: 20%;
    float: left;
    text-align: center;
}