 <ul class="col-md-12 corrtab" style="list-style:none">
     <h4 class="col-md-12 corr">
         <span class="glyphicon glyphicon-question-sign"
                              aria-hidden="true"
                              uib-popover-html="getPopoverContent(item.adq.whatisit)"
                              popover-trigger="'mouseenter'"
                              popover-placement="right"
                              style="margin-right: 2px;">
         </span>
         {[{ item.adq.header }]} | {[{ corr_bar(item.total, questions[item.proc.act_id].len) }]}</h4>
      <div class="col-sm-12">
          <uib-progressbar class="progress-striped"
                           max="questions[item.proc.act_id].len"
                           value="item.total"
                           type="{[{ corr_bar(item.total, questions[item.proc.act_id].len) }]}">
            <i>{[{ barText }]}</i>
          </uib-progressbar>

      </div>
     <li class="corr_header">
         <div class="col-md-7">
             <h5>Запитання</h5>
         </div>
         <div class="col-md-2" style="text-align: center">
             <h5>Так/Ні/Незнаю</h5>
         </div>
         <div class="col-md-2" style="text-align: center">
            <h5><span class="glyphicon glyphicon-question-sign"
                              aria-hidden="true"
                              uib-popover-html="effectPopover"
                              popover-trigger="'mouseenter'"
                              popover-placement="top"
                              style="margin-right: 2px;">
             </span>Вплив</h5>
         </div>
         <div class="col-md-1">
         </div>
     </li>
          <li ng-repeat="quest in item.adq.quests" class="col-md-12 corr"
          ng-hide="quest.dep == 1 && item.adq.quests[$index - 1].res == null || quest.dep == 1 && item.adq
          .quests[$index - 1].res == 0 || quest.dep2 == 1 && item.adq
          .quests[$index - 2].res == 0 || quest.dep2 == 1 && item.adq
          .quests[$index - 2].res == null || quest.dep3 == 1 && item.adq
          .quests[$index - 3].res == 0 || quest.dep3 == 1 && item.adq
          .quests[$index - 3].res == null">
              <h4 class="col-md-12" ng-show="quest.show == 1"> {[{ quest.header }]}</h4>
              <div class="row">
            <div class="col-md-7" >
                <span class="glyphicon glyphicon-question-sign"
                              aria-hidden="true"
                              uib-popover-html="getPopoverContent(quest.example)"
                              popover-trigger="'mouseenter'"
                              popover-placement="right-bottom"
                              style="margin-right: 2px;">
             </span>
                {[{ $index+1 }]}. {[{ quest.text }]}</div>
            <div class="col-xs-2">
              <select class="form-control input-sm"
                      id="yesno"
                      ng-model="quest.res"
                      ng-selected="quest.res"
                      ng-value="quest.res"
                      ng-disabled="quest.dep == 1 && item.adq.quests[$index - 1].res == 0"
                      ng-change="item.resarr[$index] = addToSlider(quest.res,quest.effect);
                      item.total = corr_sum(item.resarr)">
                  <option ng-repeat="yn in quest.yesno" value='{[{ yn.value }]}'>{[{yn.name}]}</option>
                  <option  value='idk'>Незнаю/Не застосов.</option>
              </select>
            </div>
            <div class="col-xs-2">
              <select class="form-control input-sm"
                      id="effect"
                      ng-model="quest.effect"
                      ng-disabled="quest.dep == 1 && item.adq.quests[$index - 1].res == 0"
                      ng-change="item.resarr[$index] = addToSlider(quest.res, quest.effect);
                      item.total = corr_sum(item.resarr)">
                  <option value="0" >Несуттєво</option>
                  <option value="1" >Суттєво</option>
                  <option value="100" >Критично</option>
              </select>
            </div>
            <div class="col-xs-1" style="display: {[{ quest.remove }]} ">
                <button type="button">
                    <span ng-click="removeRow(item.adq.quests, $index)"
                          class="glyphicon glyphicon-remove-sign"></span>
                </button>
           </div>
        </div>
          </li>

          </div>
          <li class="col-md-12 corrbutton">
            <fieldset>
                <div class="col-md-11">
                    <input class="input-sm"
                           style="width: 96%;border-radius: 5px 0px 0px 5px;"
                           type="text"
                           ng-model="newquest"
                           placeholder="Додати своє питання">
                    <a class="clear" ng-click="newquest = null" style="height: 30px;line-height: 33px;">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a></div>

                <div class="col-md-1">
                  <button type="button"
                          ng-click="addRow(item.adq.quests, newquest); newquest = null"
                          class="btn btn-primary">Додати</button>
                </div>
            </fieldset>
          </li>
          <li class="col-md-12 comment-block">
                <textarea ng-model="item.comment" placeholder="Додайте коментар" class="comment">
                </textarea>
          </li>
 </ul>
