<div id="add-mtest">
    <div class="modal-body" id="modal-body">
        <form method="POST" class="post-form" name="addMtestForm">
            <div class="form-group input-group">
                <div class="input-group">
                    <div class="input-group-addon">Назва</div>
                    <input name="name" class="form-control" ng-model="new_mtest.name"/>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group">
                    <div class="input-group-addon">Регіон</div>
                    <input name="region" class="form-control" type="text" ng-model="new_mtest.region"/>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group">
                    <div class="input-group-addon">Орган влади</div>
                    <input name="government" class="form-control" type="text" ng-model="new_mtest.government"/>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-success btn-sm btn-block pull-left"
                        type="submit" name="submitform" ng-click="addMtest(new_mtest);dynamicPopover.close('add', '')">Додати</button>
                <button class="btn btn-danger btn-sm btn-block pull-left"
                        type="submit" name="submitform" ng-click="dynamicPopover.close('add', '')">Закрити</button>
            </div>

        </form>
    </div>
</div>