<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title ></title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
        <script src="https://cdn.rawgit.com/indrimuska/angular-switcher/master/dist/angular-switcher.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.1.1.js"
                integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

        <script src="https://www.google.com/recaptcha/api.js"></script>

        <script type="text/javascript" src="/static/js/src/angular-drag-and-drop-lists.min.js"></script>
        <script type="text/javascript" src="/static/js/src/angular-cookies.js"></script>
        <script type="text/javascript" src="/static/js/src/ui-bootstrap-tpls-2.5.0.js"></script>
        <script type="text/javascript" src="/static/js/src/sticky.js"></script>
        <script type="text/javascript" src="/static/js/src/ng-tags-input.js"></script>
        <script type="text/javascript" src="/static/js/controller.js"></script>
        <script type="text/javascript" src="/static/js/config.js"></script>
        <script type="text/javascript" src="/static/js/services.js"></script>
        <script type="text/javascript" src="/static/js/factories/save_to_pdf.js"></script>
        <script type="text/javascript" src="/static/js/factories/data_from_db.js"></script>
        <script type="text/javascript" src="/static/js/factories/save_to_local.js"></script>
        <script type="text/javascript" src="/static/js/factories/save_and_send.js"></script>
        <script type="text/javascript" src="/static/js/factories/calculations.js"></script>
        <script type="text/javascript" src="/static/js/factories/modal.js"></script>

        <script type="text/javascript" src="/static/js/components/inline-edit.js"></script>
        <script type="text/javascript" src="/static/js/components/line-edit.js"></script>
        <script type="text/javascript" src="/static/js/components/on-enter.js"></script>
        <script type="text/javascript" src="/static/js/components/on-esc.js"></script>

        <link href="https://cdn.rawgit.com/indrimuska/angular-switcher/master/dist/angular-switcher.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/ng-tags-input.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

        <base href="/">
    </head>
    <body ng-app="mTestApp">
        <div class="container">
            <header>
                <div id="logo">
                    <a href="/">
                        <h4>Розрахунок стандартних витрат суб'єктів малого підприємництва щодо виконання регулювання</h4>
                    </a>
                </div>
                <div id="header-right">
                    <div ng-include="'/static/html/nav.html'"></div>
                    <div id="slogan">
                        <h5>За допомогою калькулятора вимірюється вартість адміністративних процедур/адміністративного
                            навантаження суб'єктів малого підприємництва під час проведення М-Тесту.</h5>
                        <h5 style="float: left;color: #fff;background: #aea287;font-weight: bold;padding: 0px 5px;">Розрахунок витрат ведеться за формулою: (Чі*ВЧі*КРі+ПВРі)*Кі.</h5>
                    </div>
                </div>
            </header>


            <div class="mTest row" ng-view>

            </div>

        </div>

        <div ng-include="'static/html/footer.html'"></div>

    </body>
</html>
