                                                                            <!--  CENTRAL BLOCK  -->
<div class="col-md-10 mainframe"  style="margin-bottom: 100px;">
    <div class="row">
        <div ng-repeat="(zone, list) in modelsdb.dropzones" class="col-md-12" >
            <div class="dropzone box box-darkblue">
                <div class="requlatory">
                        <div class="col-md-12 pull-left input-group">
                            <div class="input-group-addon">Назва регуляторного акта</div>
                            <div class="mtest-info">{[{ mtestData.name }]}</div>
                        </div>
                        <div class="col-md-12 pull-left input-group region-data">
                            <div class="govern pull-left" style="width:70%">
                                <div class="input-group-addon" style="width: 176px;padding: 4px;">Назва органу влади</div>
                                <div class="mtest-info">{[{ mtestData.govern }]}</div>
                            </div>
                            <div class="region pull-left" style="width:30%">
                                <div class="input-group-addon" style="width: 64px;padding: 4px;">Регіон</div>
                                <div class="mtest-info">{[{ mtestData.region }]}</div>
                            </div>
                        </div>
                </div>
                <div ng-include="'list.html'" ></div>
                <div class="sum-footer">
                    <div class="col-md-2 input-group reset">
                        <button type="button" class="btn btn-danger" ng-click="resetdb()">Очистити форму</button>
                        </div>
                    <div class="col-md-5 input-group">

                        <div class='input-group-addon' style="width: 30%;">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" popover-placement="top-left" uib-popover="
                            Кількість – кількість суб`єктів малого бізнесу, на яких поширюється регулювання/ІВ. В формулі позначається
                            " popover-trigger="'mouseenter'">
                        </span> Кількість суб'єктів(шт.):</div>
                        <input type="number" style="width: 70%;height: 30px;" class="form-control" name="ki"
                               ng-model="list[0].ki" placeholder='Кі (шт.)'>
                    </div>
                    <div class="col-md-5 input-group">
                        <div style="padding-right: 5px;width: 66%;line-height: 29px;float:right;height: 30px;">Загальна
                            вартість вимог:</div>
                        <div class='input-group-addon' style="width: 41%;">
                            <span ng-if="mtestData.calc_type != 1">{[{ totalSumDb() }]}</span>
                            <span ng-if="mtestData.calc_type == 1">{[{ awgSumDb() }]}</span>  грн</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row2" ng-include="'static/html/tmpl/resultdb.html'">
    </div>
</div>

                                                                            <!--  LEFT BLOCK -->
<div id="tools-bar"  class="col-md-2 tools">
    <div class="tools inner" sticky offset="30">
        <div class="tools main">
    <div class="toolbox box box-grey box-padding">
        <ul>
            <li ng-repeat="item in modelsdb.templates"
                        dnd-draggable="item"
                        dnd-type="item.type"
                        dnd-effect-allowed="copy"
                        dnd-copied="item.id = item.id + 1">
                        <h3 class="itemname">{[{item.name}]}</h3>
                        <div class="dragitem"><img src="/static/img/{[{ item.type }]}.png"></div>
                    </li>
        </ul>
        <div class='brdr'></div>
    </div>

    <div class="trashcan box box-grey box-padding">
        <ul dnd-list="[]">

            <li><img src="/static/img/trashcan.png"></li>
        </ul>
    </div>
    <div class='brdr'></div>

    <div class='faq'>
        <div class="buttons">
            <div class="executors" ng-show="(executors | objLength) > 0">
                <h5>Виконавці:</h5>
                <div ng-repeat="ex in executors track by $index" class="execs">
                    <div class="checkbox">
                        <input type="checkbox" value="checked" ng-model="ex.checked"
                                      ng-click="updateExecutors()">
                            <a href="/track/{[{ ex.mid }]}">{[{ ex.email }]}</a>
                    </div>
                </div>
            </div>

            <div class="mtest-sharing clearfix" ng-show="reg_files != null">
                <div class="reg-files">
                    <h5 class="files-header">Регуляторні акти:</h5>
                    <div ng-repeat="fl in reg_files" class="reg-act-file">
                        <button ng-click="getRegAct(fl.MtestID, fl.DocID)"
                                class="download-reg-act">{[{ fl.Name }]}</button>
                    </div>
                </div>
            </div>
            <div class="btn1">
                <div class="download-btn">
                <a type="button" id='btn-dwn' class="btn btn-default btn-sm" download="Звіт.html" ng-href="{[{ saveToPdf }]}">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    <span>Завантажити</span>
                </a>
                </div>
                <div class="download-switch">
                <switcher ng-model="reportToggler"
                          true-value="'1'" true-label="" false-value="'0'" false-label="" class="corr_toggle"></switcher>
                <code class="small">
                    <i ng-show="reportToggler==1">М-ТЕСТ</i>
                    <i ng-show="reportToggler==0">Кор.</i>
                </code>
                </div>
            </div>

            <div class="btn2 {[{ getClass }]}" ng-show="isLoggedIn">
                <form method="POST" class="post-form" name="form">
                    <button type="submit" id='btn-save' class="btn btn-default
                     btn-sm" name="Save" ng-click="saveMtestToDB();setClasses()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="sm">Зберегти зміни</span>
                    </button>
                </form>
            </div>
            <div class="save_alert {[{ getClassTwo }]}">
                <span class="glyphicon glyphicon-ok-circle"></span>
                <span class="sm">Збережено!</span>
            </div>

        </div>
    </div>
    </div>
    </div>
</div>
                                                                            <!--  MAIN DROPZONE  -->
<script type="text/ng-template" id="list.html" >
    <ul dnd-list="list" dnd-allowed-types="allowed.dropzone">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-type="item.type"
            dnd-disable-if="!isLoggedIn"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="modelsdb.selected = item"
            ng-class="{selected: modelsdb.selected === item}"
            ng-include="item.type + '.html'"
            class="ng-scope"
            id="{[{ item.type }]}"
            >
        </li>
        <li class="dndPlaceholder">Перетягніть сюди</li>
    </ul>
</script>


<script type="text/ng-template" id="list2.html">
    <ul dnd-list="list" dnd-allowed-types="allowed.container"
    dnd-disable-if="!isLoggedIn">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-type="item.type"
            dnd-disable-if="!isLoggedIn"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="modelsdb.selected = item"
            ng-class="{selected: modelsdb.selected === item}"
            ng-include="item.type + '.html'"
            class="ng-scope"
            id="{[{ item.type }]}"
            >
        </li>
        <li class="dndPlaceholder">Перетягніть сюди</li>
    </ul>
</script>

<script type="text/ng-template" id="list3.html">
    <ul dnd-list="list"
        dnd-allowed-types="allowed.itemplus"
    dnd-disable-if="!isLoggedIn">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-type="item.type"
            dnd-disable-if="!isLoggedIn"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="modelsdb.selected = item"
            ng-class="{selected: modelsdb.selected === item}"
            ng-include="item.type + '.html'"
            class="ng-scope"
            id="{[{ item.type }]}"
            >
        </li>
        <li class="dndPlaceholder">Перетягніть сюди</li>
    </ul>
</script>
                                                                            <!--  CONTAINER  -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue" style='padding-top: 10px;'>
        <div id='header-sub'>
            <dnd-nodrag>
            <div class="handle pull-left">
                <div dnd-handle class="container-hnd">::::</div>
            </div>
                </dnd-nodrag>
            <div class="pull-left" style='width:96%'>
                <div class="input-group pull-left container-header">
                    <div class="input-group-addon">
                     <span class="glyphicon glyphicon-question-sign"
                           aria-hidden="true"
                           ng-click="openModal('col-sm-9','static/html/tmpl/ask_requirement.html','mTestController')">
                     </span>
                    Інформаційна вимога:</div>
                    <input  class="form-control"
                            ng-model="item.zob"
                            name="zob"
                            placeholder="Введіть назву інформаційної вимоги"
                            typeahead-min-length="0"
                            style="width: 96%;">
                    <a class="clear" ng-click="item.zob = null">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
                </div>

                <div class="input-group-addon container-header">
                    Вартість вимоги:
                    <span ng-if="mtestData.calc_type != 1">{[{ SumDb(item.id)[item.id] | number:0 }]}</span>
                    <span ng-if="mtestData.calc_type == 1">{[{ sumDevsInfs(devs_get[$index]) | number:0 }]} </span>
                     грн</div>
                <div style="display:none;">{[{ item.contsub = SumDb(item.id)[item.id] }]}</div>
                <div style="display:none;">{[{ item.awgsub = sumDevsInfs(devs_get[$index]) }]}</div>
            </div>
        </div>

        <div class="column" ng-repeat="list in item.columns" ng-include="'list2.html'" ></div>
        <div class="clearfix"></div>
    </div>
</script>
                                                                            <!--  ITEM WITH CONTAINER  -->
<script type="text/ng-template" id="itemplus.html">
    <div class="container-element box box-blue" style='padding-top: 10px;'>
        <div id='header-sub'>
            <dnd-nodrag>
            <div class="handle_plus pull-left" >
                <div dnd-handle class="plus-hnd">::::</div>
            </div>
                </dnd-nodrag>
            <div class="pull-left input-group" style='width:96%'>
                <div class="input-group-addon" style="padding-top: 2px;">
                <span class="glyphicon glyphicon-question-sign"
                      aria-hidden="true"
                      ng-click="openModal('col-sm-9','static/html/tmpl/ask_constituent.html','mTestController')">
                </span>
                Складова інформаційної вимоги: </div>
                <input  class="form-control ng-valid ng-dirty"
                        ng-model="item.zob" name="zob"
                        placeholder="Введіть назву складової"
                        typeahead-min-length="0"
                        style="width: 96%;">
                    <a class="clear" ng-click="item.zob = null">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </div>
        </div>
        <div class="column"
             ng-repeat="list in item.columns"
             ng-include="'list3.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>
                                                                            <!--  ITEM  -->
<script type="text/ng-template" id="item.html">
    <dnd-nodrag>
            <div class="handle">
                <div dnd-handle class="handle-bar">::::</div>
            </div>
        </dnd-nodrag>
            <div id="input_group">
                <uib-tabset active="activePill" type="pills">
                    <uib-tab index="0" heading=""><div ng-include="'static/html/tmpl/calculation.html'"></div></uib-tab>
                    <uib-tab index="1" heading=""><div ng-include="'static/html/tmpl/corruption.html'"></div></uib-tab>
                </uib-tabset>
            </div>

            <div class="tabbuttons">
                <button type="button"
                        class="btn btn-default btn-sm"
                        ng-click="activePill = 0">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button>

                <button type="button"
                        class="btn btn-default btn-sm "
                        ng-click="activePill = 1">
                </button>

            </div>
            <div class="item" style="display:none;">{[{item.id}]}</div>
            <div class="sum_hidden">
                {[{ item.subsum = item.chi *  (item.vchi / 22 / 8) * item.kri + item.pvri | number:0}]}</div>

</script>