<div class="row">
    <h2 class="border-bottom">Особистий кабінет</h2>
    <div class="col-md-3 clearfix" id="cabinet">
        <h3 class="border-bottom">Дані користувача | ID: {[{ userdata.id }]}</h3>

        <div class="clearfix border-bottom field input-group">
            <h5 class="pull-left input-group-addon">Ім'я:</h5>
            <div class="col-xs-8 pull-left" inline-edit="userdata.name"
                 on-save="changeUserField('name', userdata.id, value)" on-cancel="log('CANCEL', value)"></div>
        </div>

        <div class="clearfix border-bottom field input-group">
            <h5 class="pull-left input-group-addon">Прізвище: </h5>
            <div class="col-xs-8 pull-left" inline-edit="userdata.surename"
                 on-save="changeUserField('surename', userdata.id, value)" on-cancel="log('CANCEL', value)"></div>
        </div>

        <div class="clearfix border-bottom field input-group">
            <h5 class="pull-left input-group-addon">Email: </h5>
            <div class="col-xs-8 pull-left" inline-edit="userdata.email"
                 on-save="changeUserField('email', userdata.id,value)" on-cancel="log('CANCEL', value)"></div>
        </div>

        <div class="clearfix border-bottom passchange">
            <h5><button ng-click="changepass = !changepass" class="btn btn-default">Зміна паролю</button></h5>
            <div class="pull-left panel-body" ng-show="changepass"
                 ng-include="'/static/html/auth/changepass.html'"></div>
            <div class="pull-left panel-body" ng-hide="!changepass"
                 ng-include="'/static/html/blank.html'"></div>
        </div>
    </div>

    <div class="col-md-9 clearfix" id="mtests">
        <h3 class="border-bottom">Мої М-Тести</h3>
        <div class="clearfix border-bottom user-mtests">
            <div class="pull-left panel-body no_mtests" ng-show="len_records > 5"
                 ng-include="'/static/html/auth/auth.cabinet.mtests.html'"></div>
            <div class="pull-left panel-body no_mtests"
                 ng-include="'no_mtests.html'" ng-show="len_records <=3"></div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="no_mtests.html" >
  <div class="inner">
      <h3>У Вашому кабінеті М-Тест розрахунки - відсутні</h3>
  </div>
  <div class="add-mtest">
      <button ng-click="dynamicPopover.open('add', 'static/html/tmpl/modal_add_mtest.html', '')"
              uib-popover-template="dynamicPopover.templateUrl['add']"
              popover-title="Додати розрахунок"
              type="button"
              class="btn btn-success"
              popover-placement="auto top"
              popover-is-open="dynamicPopover.isOpen['add']"
              popover-class="email-popover">
          <span class="glyphicon glyphicon-add"></span>
          Додати розрахунок
      </button>
  </div>
</script>
